.nav {
  nav {
    @apply fixed w-full bg-purple-900;
    ul {
      @apply flex flex-row;
    }
    a {
      @apply block px-4 py-2 text-white;
    }
  }
  > div {
    @apply h-10;
  }
}

//.nav {
//  nav {
//    background-color: purple;
//    position: fixed;
//    width: 100%;
//
//    ul {
//      display: flex;
//      flex-direction: row;
//    }
//
//    a {
//      display: block;
//      padding: 12px 24px;
//      color: white;
//    }
//  }
//  > div {
//    height: 45px;
//  }
//}
